@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
}
.stories_preview1, .stories_preview2, .stories_preview3, .stories_preview4{
  background-image: linear-gradient(rgba(0, 0, 0, 0.4),
  rgba(0, 0, 0, 0.4)), url('https://github.com/KrishnaDhingra/photosnap_frontendmentor/blob/master/static/images/stories/desktop/mountains.jpg?raw=true');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: all 0.4s;
  
}
.stories_preview1:hover, .stories_preview2:hover, .stories_preview3:hover, .stories_preview4:hover{
  transform: translateY(-1rem);
}
.stories_preview2{
  background-image: linear-gradient(rgba(0, 0, 0, 0.4),
  rgba(0, 0, 0, 0.4)), url('https://github.com/KrishnaDhingra/photosnap_frontendmentor/blob/master/static/images/stories/desktop/cityscapes.jpg?raw=true');

}
.stories_preview3{
  background-image: linear-gradient(rgba(0, 0, 0, 0.4),
  rgba(0, 0, 0, 0.4)), url('https://github.com/KrishnaDhingra/photosnap_frontendmentor/blob/master/static/images/stories/desktop/18-days-voyage.jpg?raw=true');

}
.stories_preview4{
  background-image:linear-gradient(rgba(0, 0, 0, 0.4),
  rgba(0, 0, 0, 0.4)), url('https://github.com/KrishnaDhingra/photosnap_frontendmentor/blob/master/static/images/stories/desktop/architecturals.jpg?raw=true');

}
@media only screen and (max-width: 4000px) {

  .home1_right, .home2_right, .home3_right{
    background-image:url('https://raw.githubusercontent.com/zuolizhu/photosnap_frontendmentor/master/static/images/home/desktop/create-and-share.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .home2_right{
    background-image: url('https://raw.githubusercontent.com/zuolizhu/photosnap_frontendmentor/master/static/images/home/desktop/beautiful-stories.jpg');
  }
  .home3_right{
    background-image: url('https://raw.githubusercontent.com/zuolizhu/photosnap_frontendmentor/master/static/images/home/desktop/designed-for-everyone.jpg');
  }
}


@media only screen and (max-width: 1280px) {
  .home1_right{
    background-image: url('https://github.com/zuolizhu/photosnap_frontendmentor/blob/master/static/images/home/tablet/create-and-share.jpg?raw=true');
  }
  .home2_right{
    background-image: url('https://github.com/zuolizhu/photosnap_frontendmentor/blob/master/static/images/home/tablet/beautiful-stories.jpg?raw=true');
  }
  .home3_right{
    background-image: url('https://github.com/zuolizhu/photosnap_frontendmentor/blob/master/static/images/home/tablet/designed-for-everyone.jpg?raw=true');
  }
}
@media only screen and (max-width: 642px){
  .home1_right{
    background-image: url('https://raw.githubusercontent.com/zuolizhu/photosnap_frontendmentor/master/static/images/home/mobile/create-and-share.jpg');
  }
  .home2_right{
    background-image: url('https://github.com/zuolizhu/photosnap_frontendmentor/blob/master/static/images/home/mobile/beautiful-stories.jpg?raw=true');
  }
  .home3_right{
    background-image: url('https://github.com/zuolizhu/photosnap_frontendmentor/blob/master/static/images/home/mobile/designed-for-everyone.jpg?raw=true');
  }
}

